#topOfPage {
    display: flex;
    justify-content: space-between;
}

#topPageLogo {
    height: 60px;
    width: 75px;
    margin-left: 20px;
    margin-top: 20px;
}
/* set settings modal title to black color */

#topOfPage h1 {
    display: inline;
    color: black;
}

#userTotal h2{
color: black;
}

#settingsIcon {
    color: #000;
    font-size: 45px;
    margin-top: 20px;
    margin-right: 10px;
}

#settingsButton {
    background: none;
    border: none;
}

#MainPage {
    background: linear-gradient(#fdf5e6,#808080);
    /* linear-gradient(to right, blue, #9198e5); */
}
/*gradient back ground that can be changed*/  

#signUp {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#signUp:hover {
    background-color: #555555;
    color: white;
}

#userTotal {
    display: flex;
    justify-content: center;
}

#userTotalInfo {
    width: 300px;
    border-bottom: 2px solid black;
}

/*buttons for day, month, quater and year*/
#timeButtons {
    display: flex;
    justify-content: center;
}
.btn-group{
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
    height: 40px;
}

.btn-group:hover {
    background: grey;
    color: white;
}

.btn-group:focus {
    background: rgb(167, 163, 163);
    color:black;
}

#coin_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    overflow-y:auto;
}

#bitcoin_container {
    background: #CDC9C9;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    padding-bottom: 15px;
}

#litecoin_container {
    background: #CDC9C9;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    padding-bottom: 15px;
}

#ethereum_container {
    background: #CDC9C9;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    padding-bottom: 15px;
}

#bitcoinCash_container {
    background: #CDC9C9;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    padding-bottom: 15px;
}

#createAccountPage form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 90vh;
}

#topPageLogo2 {
    height: 350px;
    width: 450px;
    margin-left: 5px;
    margin-top: 10px;
}

/* More info buttons */

.moreInfo {
    border-radius: 2px;
    height: 30px;
}

.moreInfo:hover {
    background: grey;
}
.btn .btn-info .btn-lg{
    
}

#signUp{
    margin-top: 20px;
}


/* Login Page Style Below */

#loginPage {
    background: url("assets/4k-wallpaper-blue-nature-26681.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#loginForm {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 500px;
}

.loginBox {
    width: 400px;
    margin-top: 20px;
}

#Login {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5pxtton
}
#createAccountButton {
    background-color:transparent;
    color:grey;
    width: 150px;
}

/* CryptoGraph sizing */

.cryptoGraph {
    height: 300px;
    width: 500px;
}

@media (max-width: 800px) {
    .cryptoGraph {
        height: 150px;
        width: 250px;
    }
}

/* Settings Stuff */
#settings_container {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    justify-content: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display:flex;
    position: relative;
    display: inline-block;
    margin-left: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}